apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: demo-api-production
  namespace: argocd
  finalizers:
    - resources-finalizer.argocd.argoproj.io
spec:
  project: default
  source:
    # -----------------------------------------------------------
    # REPOSITORY CONFIGURATION
    # Replace with your actual GitHub username
    # -----------------------------------------------------------
    repoURL: 'https://github.com/Rampanellijr/cloud-native-sre-showcase.git'
    targetRevision: HEAD
    
    # Path to the Kubernetes manifests (Base layer)
    path: kubernetes/base 
    
  destination:
    # Target cluster (in-cluster for local demonstration)
    server: 'https://kubernetes.default.svc'
    
    # Target namespace managed by Terraform
    namespace: app-production
  
  # ---------------------------------------------------------
  # GITOPS SYNC STRATEGY (Drift Management)
  # ---------------------------------------------------------
  syncPolicy:
    automated:
      prune: true    # Deletes resources no longer present in Git (Garbage Collection)
      selfHeal: true # Automatically reverts manual cluster changes (Anti-Drift)
    syncOptions:
      - CreateNamespace=false # Set to false as Terraform manages the Namespace
      - PruneLast=true